<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/security 
	http://www.springframework.org/schema/security/spring-security.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<security:http auto-config="true">
		<!-- intercept url and it will be redirected to login -->
		<security:intercept-url pattern="/dashboard"
			access="isAuthenticated()" />

		<security:intercept-url pattern="/user_listitems" />

		<security:intercept-url access="permitAll"
			pattern="/static/**" requires-channel="any" />

		<security:intercept-url access="permitAll"
			pattern="/" requires-channel="any" />

		<security:intercept-url access="permitAll"
			pattern="/logout" />

		<security:intercept-url access="permitAll"
			pattern="/login" />

		<security:intercept-url access="permitAll"
			pattern="/userlist" />
			
		<security:intercept-url access="permitAll"
			pattern="/dashboard" />

		<security:intercept-url access="permitAll"
			pattern="/useredit" />
						
		<security:intercept-url access="permitAll"
			pattern="/notificationlist" />
			
		<security:intercept-url access="permitAll"
			pattern="/sendnotification" />
			
		<security:form-login login-page="/login"
			default-target-url="/login" always-use-default-target="true"
			authentication-failure-url="/login?error" username-parameter="username"
			password-parameter="password" />

		<security:logout logout-success-url="/login" />
 	<!-- enable csrf protection -->
		<!--	<security:csrf / -->
		<security:csrf disabled="true"/>
	</security:http>

	<security:authentication-manager>
		<security:authentication-provider>
			<security:user-service>
				<security:user name="test" password="test"
					authorities="ROLE_USER" />
			</security:user-service>
		</security:authentication-provider>
	</security:authentication-manager>

</beans>