# 
# 
# @author - pjd - 17/03/2017
# Create file ~/.my.cnf and add following lines in it and replace mysqluser & mysqlpass values.
# For safety, make this file readable to you only by running chmod 0600 ~/.my.cnf 
#
#Purpose :Next time you run mysql commands mysql, mysqlcheck, mysqdump, etc; they will pick 
#username & password from this file if you do not provide them as argument (-u and -p). It can save your time.
#Of-course, if you specify username and password explicitly as part of commands arguments, they will be used.
#

[client]
user=kalravdba
password=kal-dba999dev
database=kalrav

[mysql]
user=kalravdba
password=kal-dba999dev
database=kalrav

[mysqldump]
user=kalravdba
password=kal-dba999dev
database=kalrav

[mysqldiff]
user=kalravdba
password=kal-dba999dev
database=kalrav
